<div class="container"
fxLayout="row"
fxLayout.xs="column"
fxlayout.sm="column"
fxLayoutAlign.gt-md="space-around "
fxLayoutGap="10px" 
fxLayoutGap.xs="0">
<div fxFlex="40" *ngIf="dish">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h2>{{dish.name|uppercase}}</h2></mat-card-title>        
        </mat-card-header>
        <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
    <mat-card-content>{{dish.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="40">
      <mat-card><mat-card-header>
            <mat-card-title><h1>Comments</h1></mat-card-title>
      </mat-card-header>
      </mat-card>
      <mat-list *ngIf="dish">
          
          <mat-list-item *ngFor="let Dish of dish.comments">
              <p>
                  <span mat-line>{{Dish.comment}}</span>
                  <span mat-line><b>{{Dish.rating}}stars</b></span>
                  <span mat-line>--{{Dish.author}} {{Dish.date|date}}</span>
              </p>
          </mat-list-item>
      </mat-list>
  </div>

</div>